body {
    background-color: #97B6FF;
}

div {
    background-color:#97B6FF;
}

html, body, iframe { height: 95%; }

footer {
   position:fixed;
   left:0px;
   bottom:0px;
   height:30px;
   width:100%;
   border-top:ridge;
   border-top-color:grey;
}

.buttons{
    display:inline;
    margin:auto;
    text-align:left;
    border:solid;
    border-color:black;
}
.header{
    font-size:40px;
    text-align:center;
    border:solid;
    border-color:black;
    margin:0px 0px 0px 0px;
    padding-top: 10px;
    padding-bottom: 10px;
}

ul.navH{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    border:ridge;
    border-color:black;
}

ul.navH li{
     float: left;
}

ul.navH a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.navV{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 15%;
    background-color: #333;
    float:left
}

ul.navV a{
    display: block;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    cursor:pointer;
}

ul.navV span{
    display: block;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    border-bottom:ridge;
    border-color:grey;
}

.active {
    background-color:grey;
    border-left:ridge;
    border-right:ridge;
    border-color:white;
}

 .left {
    width: 35%;
    float: left;
    text-align: right;
}
.right {
    width: 35%;
    margin-left: 5%;
    float: left;
    text-align: right;
}

.stf_frame{
    width:85%;
    height:80%;
    border:hidden;
}
